body {
  background-color: white !important;
}
.logo {
  height: 64px;
}
.header-seperator {
  padding-left: 25px;
}
nav.non-stick-navbar {
  margin-top: 35px;
}
nav.stick-navbar {
  position: fixed;
  z-index: 1000;
  margin-top: -35px;
}
nav.stick-navbar,
nav.stick-navbar ul li a {
  height: 33px;
}
nav.stick-navbar ul li a {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping */
}

.introduction,
.footer {
  background-color: #0047ab;
  padding: 40px 0;
}
.introduction h5 {
  margin-top: -20px;
}
.introduction span,
ul {
  font-size: 20px;
}
.introduction ul {
  margin-top: 0;
  list-style-type: disc;
  padding-left: 20px;
}
.introduction ul li a {
  color: white;
}
.introduction .rightSection,
.introduction .btn-appointment {
  margin-top: 60px;
}
a.waves-effect {
  border-radius: 5px;
}
.about .icon-holders {
  margin-top: 50px;
}
.about .icon-holders .title {
  margin-top: 20px !important;
  font-size: 20px;
}
.about .icon-holders i {
  font-size: 2.8rem;
}
.about .icon-holders a.btn-large {
  background-color: #0047ab;
  height: 85px;
  width: 150px;
  line-height: 85px;
}
.about .icon-holders ul li {
  font-size: 18px;
}
.about .icon-holders .aboutCard {
  margin-top: 60px;
}
.experties .card-holders {
  margin-left: auto;
  margin-right: auto;
}
.experties {
  padding-bottom: 60px;
}
.experties .card .card-image img {
  padding: 30px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.articles .card-holders .title-container {
  width: 100%;
  height: 80px;
}
.articles .card-holders .card-title {
  font-size: 20px;
}
.articles .card-holders .card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.articles .card-holders .card-image img {
  height: 350px;
}
.footer ul li a {
  font-size: 22px;
  color: white;
}
.footer .resources ul li {
  margin-top: 10px;
}
.footer .contactUs ul li {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.footer .contactUs ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.footer .contactUs ul li a i {
  margin-right: 10px;
  font-size: 25px;
}
.experties .card-holders {
  align-content: start;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .about .icon-holders .aboutCard {
    float: none;
    margin-top: 100px;
  }
  .introduction .rightSection img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
  .introduction .btn-appointment {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 338px;
    float: none !important;
  }
  .footer .contactUs {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .logo {
    height: 56px;
  }
}
