body{
    background-color: black;
}
.logo{
    height: 64px;
}
.header-seperator {
    padding-left: 25px;
}
.about{
    background-color: #0047AB;
}

@media (max-width: 600px) {
    .logo{
        height: 56px;
    }
}