body {
  background-color: white !important;
  overflow-x: hidden;
}
.logo {
  height: 64px;
}
.header-seperator {
  padding-left: 25px;
}
#mobile-demo .surgeries-sub-category {
  padding-left: 20px;
}
nav.non-stick-navbar {
  margin-top: 60px;
}
nav.stick-navbar {
  position: fixed;
  z-index: 1000;
  margin-top: -60px;
}

nav.stick-navbar .book-appointment a {
  height: 45px !important;
  margin-top: 5px;
  margin-left: 10px;
}
nav.stick-navbar,
nav.stick-navbar ul li a {
  height: 55px;
}
nav.stick-navbar ul li a {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping */
}
.introduction .rightSection {
  width: 100%;
}
.introduction,
.footer {
  background-color: #0047ab;
  padding: 40px 0;
}
.introduction h5 {
  margin-top: -20px;
}
.introduction span,
ul {
  font-size: 20px;
}
.introduction ul {
  margin-top: 0;
  list-style-type: disc;
  padding-left: 20px;
}
.introduction ul li a {
  color: white;
}
.introduction .rightSection,
.introduction .btn-appointment {
  margin-top: 60px;
}
a.waves-effect {
  border-radius: 5px;
}
.about {
  margin: 70px 0 !important;
}
.about .icon-holders {
  margin-top: 50px;
  clear: both;
}
.about .icon-holders .title {
  margin-top: 20px !important;
  font-size: 20px;
}
.about .icon-holders i {
  font-size: 2.8rem;
}
.about .icon-holders a.btn-large {
  background-color: #0047ab;
  height: 85px;
  width: 150px;
  line-height: 85px;
}
.about .icon-holders ul li {
  font-size: 18px;
}
.about .icon-holders .aboutCard {
  margin-top: 60px;
}
.experties .card-holders {
  margin-left: auto;
  margin-right: auto;
}
.experties {
  padding-bottom: 60px;
}
.experties .card .card-image img {
  padding: 30px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.articles .card-holders .title-container {
  width: 100%;
  height: 80px;
}
.articles .card-holders .card-title {
  font-size: 20px;
}
.articles .card-holders .card-content p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.articles .card-holders .card-image img {
  height: 350px;
}
.footer ul li a {
  font-size: 18px;
  color: white;
}
.footer .resources ul li {
  margin-top: 10px;
}

.footer .contactUs ul li {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.footer .contactUs ul li a {
  display: flex;
  align-items: left;
  justify-content: flex-end;
}
.footer .contactUs ul li a i {
  margin-right: 10px;
  font-size: 25px;
}
.footer .real-contact-us li a {
  font-size: 18px !important;
}
.experties .card-holders {
  align-content: start;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .introduction .rightSection {
    float: right;
  }
  .about .aboutDrJenniferMutch img {
    width: 300px;
    float: right;
    margin-top: 30px;
  }
}
@media (max-width: 1126px) {
  nav.stick-navbar ul li a {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .introduction .rightSection img {
    width: 300px !important;
  }
}
@media (max-width: 992px) {
  .about .aboutDrJenniferMutch img {
    margin: 100px 0;
    width: 350px;
  }
  .about .icon-holders .aboutCard {
    float: none;
    margin-top: 100px;
  }
  .introduction .rightSection img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
  .introduction .btn-appointment {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 338px;
    float: none !important;
  }
  .footer .contactUs {
    margin-top: 30px;
  }
}
@media (max-width: 600px) {
  .logo {
    height: 56px;
  }
}

/*Experties KneeReplacement styles*/
.KneeReplacementIntroduction {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.KneeReplacementIntroduction .KneeReplacementRealLife {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  display: block;
}
.KneeReplacementIntroduction .description {
  background-color: #0047ab;
  position: absolute;
  top: 50%; /* Adjust to your preferred position */
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.KneeReplacementIntroduction .description {
  text-align: left !important;
  padding: 30px;
}
.KneeReplacementIntroduction .description ul li a {
  color: white;
}
.KneeReplacementIntroduction .description ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.KneeReplacementIntroduction .description ul li a i {
  padding-left: 10px;
}
.KneeReplacementTargetAudience .left-side .image-title {
  position: relative;
}
.KneeReplacementTargetAudience .left-side .image-title span {
  font-size: 20px;
  position: absolute;
  margin-left: 97px;
  bottom: 16px;
}
.KneeReplacementDifferentTypes .KneeReplacementDifferentTypesImageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sidenav {
  width: 350px !important;
}
.KneeReplacementDifferentTypes
  .KneeReplacementDifferentTypesImageContainer
  .card-content {
  padding-top: 0 !important;
}
.KneeReplacementDifferentTypes img {
  width: 460px;
  height: 550px;
}
.KneeReplacementTargetAudience .left-side img {
  width: 450px;
  height: 450px;
}
.KneeReplacementTargetAudience .left-side {
  display: flex;
  flex-direction: column;
}
.KneeReplacementTargetAudience img {
  padding: 30px 30px 48px 30px;
}
.KneeReplacementTargetAudience ul li,
.KneeReplacementPreparation ul li {
  font-size: 18px;
}
.KneeReplacementContent img {
  padding: 30px;
}
.KneeReplacementContent .ShoulderReplacementContentImage {
  width: 300px;
}
.KneeReplacementDifferentTypes .left-side img {
  width: 380px;
  height: 400px;
  padding: 30px;
}
.KneeReplacementDifferentTypes .left-side,
.KneeReplacementPreparation .left-side {
  text-align: center;
}
.KneeReplacementPreparation ul li {
  display: flex !important;
  margin-top: 10px;
}
.KneeReplacementContent .right-side h6,
.KneeReplacementTargetAudience .right-side h6,
.KneeReplacementDifferentTypes .right-side h6 {
  font-size: 30px;
}
.KneeReplacementContent .right-side p,
.KneeReplacementTargetAudience .right-side p,
.KneeReplacementDifferentTypes .right-side p {
  font-size: 18px;
  margin-top: 30px;
}
.KneeReplacementContent .Expertise-definition,
.KneeReplacementDifferentTypes .KneeReplacementDifferentTypesMargin {
  margin: 50px 0;
}
.shared-margin {
  margin: 50px 0;
}

@media (max-width: 1200px) {
  .KneeReplacementTargetAudience .right-side h6 {
    text-align: center;
  }
  .KneeReplacementContent .Expertise-definition .left-side,
  .KneeReplacementDifferentTypes .left-side,
  .KneeReplacementDifferentTypes .right-side,
  .KneeReplacementTargetAudience .left-side {
    width: 100% !important;
    text-align: center;
    margin-top: 20px;
  }
  .KneeReplacementContent .Expertise-definition .right-side {
    width: 100% !important;
    text-align: center;
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .KneeReplacementContent .left-side img,
  .KneeReplacementSteps .left-side img.KneeReplacementStepsImage,
  .KneeReplacementPreparation .left-side img.KneeReplacementPreparationImage,
  .KneeReplacementRisks .left-side img.KneeReplacementDifferentTypesImage,
  .KneeReplacementTargetAudience .left-side img {
    float: right;
  }
  .KneeReplacementDifferentTypes .left-side img {
    float: left;
  }
}
